SPC soc/Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registersupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registersupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registersupplierResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addtender">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addtenderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addtenderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registermanager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registermanagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registermanagerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerstaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerstaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registerstaffResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addstock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="qtn" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addstockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addstockResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTenders">
        <s:complexType />
      </s:element>
      <s:element name="GetTendersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTendersResult" type="tns:ArrayOfTender" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTender">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tender" nillable="true" type="tns:Tender" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tender">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatestock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="qtn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatestockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updatestockResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registersupplierSoapIn">
    <wsdl:part name="parameters" element="tns:registersupplier" />
  </wsdl:message>
  <wsdl:message name="registersupplierSoapOut">
    <wsdl:part name="parameters" element="tns:registersupplierResponse" />
  </wsdl:message>
  <wsdl:message name="addtenderSoapIn">
    <wsdl:part name="parameters" element="tns:addtender" />
  </wsdl:message>
  <wsdl:message name="addtenderSoapOut">
    <wsdl:part name="parameters" element="tns:addtenderResponse" />
  </wsdl:message>
  <wsdl:message name="registermanagerSoapIn">
    <wsdl:part name="parameters" element="tns:registermanager" />
  </wsdl:message>
  <wsdl:message name="registermanagerSoapOut">
    <wsdl:part name="parameters" element="tns:registermanagerResponse" />
  </wsdl:message>
  <wsdl:message name="registerstaffSoapIn">
    <wsdl:part name="parameters" element="tns:registerstaff" />
  </wsdl:message>
  <wsdl:message name="registerstaffSoapOut">
    <wsdl:part name="parameters" element="tns:registerstaffResponse" />
  </wsdl:message>
  <wsdl:message name="addstockSoapIn">
    <wsdl:part name="parameters" element="tns:addstock" />
  </wsdl:message>
  <wsdl:message name="addstockSoapOut">
    <wsdl:part name="parameters" element="tns:addstockResponse" />
  </wsdl:message>
  <wsdl:message name="GetTendersSoapIn">
    <wsdl:part name="parameters" element="tns:GetTenders" />
  </wsdl:message>
  <wsdl:message name="GetTendersSoapOut">
    <wsdl:part name="parameters" element="tns:GetTendersResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="updatestockSoapIn">
    <wsdl:part name="parameters" element="tns:updatestock" />
  </wsdl:message>
  <wsdl:message name="updatestockSoapOut">
    <wsdl:part name="parameters" element="tns:updatestockResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="registersupplier">
      <wsdl:input message="tns:registersupplierSoapIn" />
      <wsdl:output message="tns:registersupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addtender">
      <wsdl:input message="tns:addtenderSoapIn" />
      <wsdl:output message="tns:addtenderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registermanager">
      <wsdl:input message="tns:registermanagerSoapIn" />
      <wsdl:output message="tns:registermanagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registerstaff">
      <wsdl:input message="tns:registerstaffSoapIn" />
      <wsdl:output message="tns:registerstaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addstock">
      <wsdl:input message="tns:addstockSoapIn" />
      <wsdl:output message="tns:addstockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTenders">
      <wsdl:input message="tns:GetTendersSoapIn" />
      <wsdl:output message="tns:GetTendersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updatestock">
      <wsdl:input message="tns:updatestockSoapIn" />
      <wsdl:output message="tns:updatestockSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registersupplier">
      <soap:operation soapAction="http://tempuri.org/registersupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addtender">
      <soap:operation soapAction="http://tempuri.org/addtender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registermanager">
      <soap:operation soapAction="http://tempuri.org/registermanager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerstaff">
      <soap:operation soapAction="http://tempuri.org/registerstaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addstock">
      <soap:operation soapAction="http://tempuri.org/addstock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTenders">
      <soap:operation soapAction="http://tempuri.org/GetTenders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatestock">
      <soap:operation soapAction="http://tempuri.org/updatestock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registersupplier">
      <soap12:operation soapAction="http://tempuri.org/registersupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addtender">
      <soap12:operation soapAction="http://tempuri.org/addtender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registermanager">
      <soap12:operation soapAction="http://tempuri.org/registermanager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerstaff">
      <soap12:operation soapAction="http://tempuri.org/registerstaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addstock">
      <soap12:operation soapAction="http://tempuri.org/addstock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTenders">
      <soap12:operation soapAction="http://tempuri.org/GetTenders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatestock">
      <soap12:operation soapAction="http://tempuri.org/updatestock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44308/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44308/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>